name: Build and Push Don't Starve Admin Go Docker Image
on:
  push

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ALIYUN_REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Build (docker compose)
        env:
          REGISTRY: ${{ secrets.ALIYUN_REGISTRY }}
          NAMESPACE: ${{ secrets.ALIYUN_NAMESPACE }}
          IMAGE_NAME: dst-admin-go
        run: docker compose build

      - name: Push (docker compose)
        env:
          REGISTRY: ${{ secrets.ALIYUN_REGISTRY }}
          NAMESPACE: ${{ secrets.ALIYUN_NAMESPACE }}
          IMAGE_NAME: dst-admin-go
        run: docker compose push