name: Build and Push Don't Starve Admin Go Docker Image
on:
  push

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build (docker compose)
        env:
          NAMESPACE: ${{ secrets.DOCKER_USERNAME }}
        run: docker compose build

      - name: Push (docker compose)
        env:
          NAMESPACE: ${{ secrets.DOCKER_USERNAME }}
        run: docker compose push